%d#filterrific_results
  %div
    / = page_entries_info spots
  %table(class="table table-hover")
    %tr
      %th Name
      %th Category
    - @spots.each do |spot|
      %tr
        %td=link_to spot.name, spot_path(spot)
        %td= spot.category
/ = will_paginate spots




/ t.string   "name"
/     t.string   "img_url"
/     t.text     "address"
/     t.string   "phone"
/     t.string   "category"
