%d#filterrific_results
  %div
  %table(class="table table-hover")
    %tr
      %th Name
      %th Category
      %th Added By
    - @spots.each do |spot|
      %tr
        / %h2= spot.id
        %td=link_to spot.name, spot_path(spot.id)
        %td= spot.category
        %td= spot.author.name
  %div(class="container")
    %div(class="row")
      %div(div class="col-md-2")
      %div(div class="col-md-8")
        = will_paginate spots
      %div(div class="col-md-2")

